
<div class="search">
    <form action="/search/results">
        Show me the <span class ="worst">worst</span> films about...
        <label for="search_bar">
            <input type="text" name="movie_search" id="movie_search" placeholder="bigfoot">
        
        </label>
        <button>Go!</button>
    </form>
</div>

