<div id="greetings_title">
    <h4> Welcome, to the magic... <h2 id="octo_h2_greeting"><em>Octo</em></h2></h4>
</div>

<form action="/octo_magic/greetings_2">

    <div id="greetings_interaction">

        <p class="octo_says" id="firstGreeting">"You have question for Octo?"<button class="user_says" id="greetingButtonOne"><em>Yes, can you tell me-</em></button></p> <br> 
        
        <p class="octo_says" id="secondGreeting">"Come, come..."<button class="user_says" id="greetingButtonTwo"><em>Yes, I'm asking: 'Wh-</em></button></p><br>

    </div>

</form>