<div id="greetings_title">
    <h4> Welcome, to the magic... <h2 id="octo_h2_greeting"><em>Octo</em></h2></h4>
</div>

<form action="/octo_magic/greetings_5">

    <div id="greetings_interaction">

        <p class="octo_says" id="firstGreeting">"You have question for Octo?"<button class="user_says" id="greetingButtonOne"><em>Yes, can you tell me-</em></button></p> <br> 
        
        <p class="octo_says" id="secondGreeting">"Come, come..."<button class="user_says" id="greetingButtonTwo"><em>Yes, I'm asking: 'Wh-</em></button></p><br>

        <p class="octo_says" id="thirdGreeting">"- Do not be shy." <button class="user_says" id="greetingButtonThree"><em>No, no, no, I'm trying to ask-</em></button></p><br>

        <p class="octo_says" id="fourthGreeting">"- Ask your question."<button class="user_says" id="greetingButtonFour"><em>I. AM. TRYING-</em></button></p><br>

        <p class="octo_says" id="fifthGreeting">"I am ready now."<button class="user_says" id="greetingButtonFive"><em> . . . </em></button></p><br>

    </div>

</form>