<div id="question_page">
    <form id="question_input" action="/octo_magic/reveals_answer">
        
        <label >
            <input id="question_text" type="text" name="query">
        </label>
        
        <button id="question_button">
            <strong><p>STATE YOUR QUESTION</p></strong>
        </button>

    </form>
</div>
