
<a href="/">Back to Home</a>
<hr>
<h3>New rock Paper Scissors game</h3>


<p>
    <strong>Your throw is:
    <%= @throw %>
    </strong> <br>
    <strong>The computer throws:
    <%= @computer_throw %> <br>
    </strong>
    <strong>
    <%= @result %>
    </strong>
</p>