
<div class="gamebox">
    <h2> Choose your game: </h2>

    <div class="imagebox">
        <a href="/magic"><figure>
            <%= image_tag 'eightball.jpg', alt: "Magic 8 Ball" , width: "300" %>
            <figcaption>MAGIC 8 BALL</figcaption>
        </figure></a>

       <a href="/rock_paper_scissors"><figure>
            <%= image_tag 'rps.jpg', alt: "Rock, Paper, Scissors" , width: "300" %>
            <figcaption>ROCK, PAPER, SCISSORS</figcaption>
        </figure></a>


        <a href="/secret"><figure>
            <%= image_tag 'guess.jpg', alt: "Secret Number" , width: "300" %>
            <figcaption>SECRET NUMBER</figcaption>
        </figure></a>
        
        

    
    </div>

</div>