<h2 id="new_heading">Add a New Family</h2>

<div class="form_container">
    
    <form action="/families" method="post" id="new_form_familiy">
    
    <label>
        Family / Basis:
        <input type="text" name="description">
    </label>
    <br>


    <label for="">
        File Format:
        <input type="text" name="file_format">
    </label>   
    
    <br>

     <label>
        Package Manager:
        <input type="text" name="package_manager">
    </label>
    <br>

     <label>
        Release Year:
        <input type="text" name="release_year">
    </label>
    <br>

     
    <button>Add Family</button>
    
    </form>


</div>