
<div class="home">

    <h1>Welcome To The Linux Library </h1>

    <a href="/distros"><li>All Distros</li>
    <a href="/families"><li>All Families</li>
    <a href="/packages"><li>All Packages</li>
    <a href="#about"><li>About this project</li></a>

</div>

<div id="about">

    <h2>About this Project</h2>
    <br>
    <p>This project models one-to-many and many-to-many database relationships using Linux Distros, their packages, and their families.  </p>
    <br>
    <br>
    <p>Technologies used in this project:</p>
    
    <ul>
        <li>Ruby</li>
        <li>Sinatra (DSL)</li>
        <li>Sqlite3 (Adapter)</li>
        <li>Active Record (ORM)</li>
    </ul>

</div>