
<div class="home">

    <h1 id="main_title">Welcome To The <span>Linux</span> Library </h1>

    <a href="/distros"><li>$ All Distros</li>
    <a href="/families"><li>$ All Families</li>
    <a href="/packages"><li>$ All Packages</li>
    <a href="#about"><li>$ About this project</li></a>

</div>

<div id="about" class ="box">

    <h2>About this Project</h2>
    <br>
    <p>This project models <strong>one-to-many</strong> and many-to-many database relationships using Linux Distros, their packages, and their families.  </p>
    <br>
    <br>
    <p>Technologies used in this project:</p>
    
    <ul>
        <li>Ruby</li>
        <li>Sinatra (DSL)</li>
        <li>Sqlite3 (Adapter)</li>
        <li>Active Record (ORM)</li>
    </ul>

</div>