<h2>Add an artist</h2>
<form action="/artists" method="post">
  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input id="name" type="text" name="name"></td>
    </tr>
    <tr>
      <td><label for="website">Website</label></td>
      <td><input id="website" type="text" name="website"></td>
    </tr>
    <tr>
      <td><label for="image_url">Image URL</label></td>
      <td><input id="image_url" type="text" name="image_url"></td>
    </tr>
  </table>
  <button>Add artist</button>
</form>
