@font-face {
    font-family: press-start-2p;
    src: url(./press-start-2p-font/PressStart2P-vaV7.ttf);
}

html{
    font-family: press-start-2p;
    font-size: 38px;
}

h1{
    text-align: center;
    position: relative;
    
   
}

h3{
    text-align: center;
    font-size: 20pt;
    position: relative;
    text-shadow: 4px 4px rgb(3, 39, 247);
    animation: glow .2s infinite alternate;
}

/*animate shadow*/


@keyframes glow {
    to {
        text-shadow: 4px 4px rgb(101, 121, 228);
    }
}



.title{
    position: relative;
    z-index: 100;

}
/* body{
    cursor: url(../1f5de.png), auto;

} */


img {
    height: 30px;

    
}

.topCat{
    transform: scaleX(1);
    position: absolute;
    z-index: -1000;

}

#game-container {
    position: absolute;
    bottom: 80%;
    left: 0;
    
}

.row {
    white-space: nowrap;
    

}

#sound{
    /* display: none */
}

#playerZone{
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.bullet{
    position: absolute;
    visibility: hidden;
    height: 15px;

}

#bullet{
    bottom: 0px;
}

#ship {
    position: relative;
    left: 50%;
    bottom: 0px;

}

footer{
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}