
<h1>Secret Number</h1>

<h3>Pick a number between 1 & 10</h3>

<form action="/secretanswer">
    <label for="">
        <input type="text" name="guess" id="">
    </label>
    <button>Guess secret number</button>
</form>