

<h2>Add New Cast</h2>

<br>
<form action="/casts" method="post" class="addNew">


<label for="name">Name:</label>
<input type="text" name="name" required>


<label for="birthday">Birthday:</label>
<input type="date" name="birthday">

<label for="place_of_birth">Place of Birth:</label>
<input type="text" name="place_of_birth">

<label for="biography">Biography:</label>
<textarea name="biography" cols="30" rows="5"></textarea>

<label for="photo_url">Photo URL:</label>
<textarea name="photo_url" cols="30" rows="5"></textarea>




<!--
<label>
    Name:
    <input type="text" name="name" required>
</label>
<br>

<label>
    Birthday
    <input type="date" name="birthday">
</label>
<br>

<label>
    Place of Birth:
    <input type="text" name="place_of_birth">
</label>
<br>

<label>
    Biography:
    <textarea name="biography" cols="30" rows="5"></textarea>
</label>
<br>

<label>
    Photo URL:
    <textarea name="photo_url" cols="30" rows="5"></textarea>
</label>
<br>

<br>
-->
<button>Add</button>
</form>

