
<h1>
Welcome to your games hub!
</h1>

  <div class="eightball">
    <a class="magicball" href="/magicball">
        <button>Play Magic 8 Ball</button>
        <br>
    <%= image_tag '8ball.jpg', alt: "ball" %>

    </a>
  </div>    
    <br>

  <div class="number">  
    <a class="secretnumber" href="/secretnumber">
        <button>Play Secret Number</button>
        <br>
    <%= image_tag 'secret.jpg' %>
    </a>
  </div>
  
    <br>

  <div class="rock">  
    <a class="rps" href="/rps">
        <button>Play Rock, Paper, Scissors</button>
        <br>
    <%= image_tag 'friends.jpg' %>
    </a>
  </div>  
    <br>