<h2>Welcome to the Secret Number game!</h2>

<h3>You will choose a number from 1-10, and the computer will choose a number from that range as well.</h3>

<h4>If you choose correctly as the computer, you win!</h4>

<form action="/secret/outcome">

<p>Enter your number here:</p>
<input type="number" min="0" max="10" name="secret">

<button>Submit guess</button>

</form>