<h4>Your chosen number is <strong><%= @user_num %></strong></h4>

<h4>Computer chosen number is <%= @comp_num %></h4>

<h3><%= @user_num.to_s == @comp_num.to_s ? "CONGRATULATIONS YOU GOT IT RIGHT!!" : "Not a match sorry. try again" %></h3>
