<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ActiveRecords Top Hits</title>
  </head>
  <body>
  <header>
  <img src="/images/ActiveRecords.png" alt="Active Records Logo">
  </header>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/hits">Hits</a>
      |
      <a href="/hits/new">Add a hit</a>
      |
      <a href="/artists">Artists</a>
      |
      <a href="/artists/new">Add an artist</a>
    </nav>

    <section>
      <%= yield %>
    </section>

    <footer>
      <sub>&copy; DJ CRUD Records</sub>
    </footer>
  </body>
</html>
