<h2>Record a new hit</h2>
<form action="/hits" method="post">
  <table>
    <tr>
      <td><label for="title">Title</label></td>
      <td><input id="title" type="text" name="title"></td>
    </tr>
    <tr>
      <td><label for="album">Album</label></td>
      <td><input id="album" type="text" name="album"></td>
    </tr>
    <tr>
      <td><label for="genre">Genre</label></td>
      <td><input id="genre" type="text" name="genre"></td>
    </tr>
    <tr>
      <td><label for="weeks_at_number_one">Weeks at #1</label></td>
      <td><input id="weeks_at_number_one" type="text" name="weeks_at_number_one"></td>
    </tr>
    <tr>
      <td><label for="year_released"></label>Year released</td>
      <td><input id="year_released" type="text" name="year_released"></td>
    </tr>
    <tr>
      <td><label for="spotify_streams"></label>Spotify streams</td>
      <td><input id="spotify_streams" type="text" name="spotify_streams"></td>
    </tr>
    <tr>
      <td><label for="thumbnail"></label>Thumbnail URL</td>
      <td><input id="thumbnail" type="text" name="thumbnail"></td>
    </tr>
    <tr>
      <td>
        <label for="artist_id"></label>Artist</td>
      <td>
        <select name="artist_id">
          <option value="" selected disabled>Select artist</option>
          <% artists = Artist.all %>
          <% artists.each do |artist| %>
            <option value="<%= artist.id %>">
              <%= artist.name %>
            </option>
          <% end %>
        </select>
      </td>
    </tr>
  </table>
  <button>Save</button>
</form>
