<h3>Add new Country </h3>

<form action="/countries" method="post">

<label>
    name:
    <input type="text" name="name">
</label>
<br>

<label>
    Location:
    <input type="text" name="location">
</label>
<br>
<label>
    Language:
    <input type="text" name="language">
</label>
<br>
<label>
    Population:
    <input type="text" name="population">
</label>
<br>
<label>
    Attractions:
    <input type="text" name="attractions">
</label>
<br>
<label>
    Visit (1 for yes, 0 for No):
    <input type="text" name="visit">
</label>
<br>
<label>
    Image:
    <input type="text" name="image_url">
</label>
<br>

<button>Create Country</button>

</form>