<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <h1>Movie Search</h1>
        <a href="/">Search by Name</a>
        <a href="/search_id">Search by Id</a>
        <hr>
    </nav>

    <section id="main">
    <%= yield %>
    </section>
    <hr>
    
</body>
<footer>
&copy; Home Made @ 2022
</footer>
</html>