All about the calculator 

How to use:

<%# <code>
/cal/<%= @number1 %>
<%# /+/ %>
<%# <%= @number2 %> 
<%# = %>
<%# <%= @number3 %> 
<%# </code> %> 

<form action="/calc/answer">

<label>
First number:
<input type="text" name="first_num">
</label>
<label>
Operator:
<input type="text" name="operator">
</label>
<label>
Second number:
<input type="text" name="second_num">
</label>

<button>Calculate!</button>






</form>