<html>
<head>

<title> Calcultor site </title>
</head>
    <body>
        <nav>
        <h1> Calculator </h1>
        <a href="/"> Home </a>
        <hr>
        </nav>
        <h2> Hello from the calculator root route</h2>
    </body>
</html>