THIS IS THE SITE TEMPLATE, EVERY ROUTE WILL USE IT

THIS IS A SPECIAL NAME IT WILL ALWAYS APPEAR
<html>
<head>

<title> Calcultor site </title>
</head>
    <body>
        <nav>
        <h1> Calculator </h1>
        <a href="/"> Home </a>
        <hr>
        </nav>
        <h2> Hello from the calculator root route</h2>
   <section>
    <%= yield %>
    </section>

    <footer>
    <hr>
    &copy; Calcultion Production
    </footer>
        </body>
        </html>
