
<div class="home">

    <h1>Welcome To The Linux Library </h1>

    <a href="/distros"><li>See All Distros</li>
    <a href="/distros/new"><li>Add a New Distro</li>
    <a href="#"><li>About Linux</li></a>

</div>

