
<div class="home">

    <h1>Welcome To The Linux Library </h1>

    <a href="/distros"><li>See All Distros</li>
    <a href="/distros/new"><li>Add a New Distro</li>
    <a href="https://www.linux.org/forums/linux-beginner-tutorials.123/" target="_blank"><li>Learn Linux</li></a>

</div>

