<h2 id="new_heading">Add a New Distro</h2>

<div class="form_container">
    
    <form action="/distros" method="post" id="new_form">
    
    <label>
        Name:
        <input type="text" name="name">
    </label>
    <br>

    <label>
        Family:
        <input type="text" name="family">
    </label>
    <br>

     <label>
        Source Model:
        <input type="text" name="source_model">
    </label>
    <br>

     <label>
        Latest Release:
        <input type="text" name="latest">
    </label>
    <br>

     <label>
        Dsecription:
        <input type="text" name="description"> 
    </label>
    <br>

     <label>
        Rolling Release (1 or 0):
        <input type="text" name="is_rolling">
    </label>
    <br>

     <label>
        Release Year:
        <input type="text" name="release_date">
    </label>
    <br>

     <label>
        Website:
        <input type="text" name="website">
    </label>
    <br>

     <label>
        logo URL:
        <input type="text" name="logo_url">
    </label>
    <br>

    <button>Add Distro</button>
    
    </form>


</div>