<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fictional Dating Profiles</title>
</head>
<body>
    <header>
        <h1>WELCOME TO FANTASY LAND!</h1>
        <p>Where dreams come true! (Even for fictional characters!)</p>
    </header>
    <a href="/">Home</a>
    <hr>

    <div>
        <%= yield %>
    </div>

    <hr>
    <footer>
        &copy; Arranging fictional relationship since 2022
    </footer>
</body>
</html>