<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <a href= "/">Home</a>
     <link rel="stylesheet" href="/css/style.css"> 
    <title>Movie Search</title>
</head>
<body>

    <header>
    <nav> <h1>Movie Search (Beta Version) </h1>
    
    </nav>
    </header>

    <section>
    <%= yield %>
    </section>

    <br>
     <a href= "/lookup">Search a movie</a>



    <footer>
    <hr>
    &copy; Pippa's Movie Studio Collection 2022
    </footer>

</body>
</html>