Index Page
<ul>

    <% @departments.each do | department | %>
        
        <li>

            <%= link_to department.title, department_path(department.id), class: "index_department_link" %>
        
        </li>

    <% end %>

</ul>