
body {
    background-color: #607EAA;
    color: #F5E8C7;
}

a {
    text-decoration: none;
    color: #FFB200;
}

.logo{
    width: 20vw;
}

.container{
    display: flex;
    align-items: center;
    gap: 10px;
}

input,select{
    width: 150px;
}