body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(137, 188, 171);
    
}

#country-image{
    width: 30vw;
    height: 30vw;
    border:rgb(137, 188, 171);
    border-radius: 20px;
    opacity: 0.8;
}

#city-image{
   width: 30vw;
   height: 30vw;
   border:rgb(137, 188, 171);
   border-radius: 20px;
   opacity: 0.8;
}