<h3>Stock Lookup</h3>

<form action="/stocks/lookup">

    <label>
        Stock Code:
        <input type="text" name="stock_code">
    </label>

    <button><strong>STONKS</strong></button>

</form>