
<h3>Rock Paper Scissors Results</h3>

<p>
    <strong>Your throw: </strong> 
    <%= @throw %>
</p>

<p>
    <strong>Computer throw: </strong> 
    <%= @computer_throw %>
</p>

<p>
    <strong><%= @result %></strong> 
</p>



