<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <h1>Cities of the world</h1>
    <a href="/">Home</a>
    |
    <a href="/cities">Cities</a>
    |
    <a href="/cities/new">Add a City</a>
    |
    </nav>

    <section>
        <%= yield %>
    </section>
    <footer>
       <sub> &copy; Carmen Sandiago Enterprises </sub>
    </footer>
</body>
</html>