<h2>Add a city</h2>

<form action="/cities" method="post">
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input id="name" type="text" name="name"></td>
        </tr>
        <tr>
            <td><label for="country">Country</label></td>
            <td><input id="country" type="text" name="country"></td>
        </tr>
        <tr>
            <td><label for="population"></label>Population</td>
            <td><input id="population" type="number" name="population"></td>
        </tr>
        <tr>
            <td><label for="demonym"></label>Demonym</td>
            <td><input id="demonym" type="text" name="demonym"></td>
        </tr>
        <tr>
            <td><label for="area"></label>Area</td>
            <td><input id="area" type="number" name="area"></td>
        </tr>
        <tr>
            <td><label for="image_URL"></label>Image URL</td>
            <td><input id="image_URL" type="text" name="image_url"></td>
        </tr>
        <tr>
            <td><label for="visited"></label>Visited?</td>
            <td><input id="visited" type="checkbox" name="visited" value="1"></td>
        </tr>
        <tr>
            <td>
                <button>Save</button>
            </td>
        </tr>
    </table>
</form>