<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Favorite Albums</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Montserrat:ital,wght@1,300&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
    <div class="logo"> 
      <%# <img src="/images/musiclogo.png" alt="Logo">   %>
      </div>
      <ul class="nav-area">
        <li><a href="/">Home</a></li> 
        <li><a href="/albums">All Albums</a></li> 
        <li><a href="/albums/new">Add a Album</a></li> 
        <li><a href="/singers">All Singers</a></li>
      </ul>     
    </div>

    

    <section>
      <%= yield %> 
    </section>

    <footer>
      &copy; All Albums 2022
    </footer>
  
  
</body>
</html>