<h3>
  Add New Singer
</h3>

<form action="/singers" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  
  <label>
    Born:
    <input type="text" name="born">
  </label>
  <br>

  <label>
    Albums:
    <input type="text" name="albums">
  </label>
  <br>

  <label>
    Website:
    <input type="text" name="website">
  </label>
  <br>

  <button>Create Singer</button>

</form>