

<h2>Ask anything of the Magic 8 Ball</h2>

<form action="/magic/answer/">
    <label for="">
        What is the question you seek the answer to?
        <input type="text" name="question" placeholder="Will I finish this homework on time?">
    </label>

    <button>Ask!</button>
</form>