
<h3>Welcome to Games on Rails</h3>

<p>Please select the game:</p>

<ul>
    <li>
        <a href="/magic-8-ball">Magic 8 Ball</a>
    </li>

    <li>
        <a href="/secret-number">Secret Number</a>
    </li>

    <li>
        <a href="/rock-paper-scissors">Rock Paper Scissors</a>
    </li>
</ul>
