
<h3>Add new genre</h3>

<form action="/genres" method="post">
    <label>
        Name:
        <input type="text" name="name">
    </label>
    <br>

    <button>Click me to add</button>

</form>


