<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie World</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h1>Movie World</h1>
        <a href="/">Home</a>
        |
        <a href="/movie">Movie List</a>
        |
        <a href="/movie/new">Add a movie</a>
        |
        <a href="/genres">Genres List</a>
        |
        <a href="/genres/new">Add a Genre</a>
        <hr>
    </nav>

    <section>
        <%= yield %>
    </section>

    <footer>
        <hr>
        &copy; Lei W4D4 Homework 2022
    </footer>
    
</body>
</html>