
body{
    background-color: #6E85B7;
    color: #F8F9D7;
}

a{
    text-decoration: none;
    color: goldenrod;
}

.teamLogo {
    width: 250px;
}

.container{
    display: flex;
    align-items: center;
    gap:20px;
}

.enter{
    display: inline-block;
    position: absolute;
    left: 150px;
    width: 200px;
}

.row {
    margin-left: 30px;
    margin-bottom: 20px;
}
