<h3>Take a spin for a flick...</h3>

<form action="/movie_search/search_results">

    <label>
        <em>Film Title:</em>
        <input type="text" name="film_title">
    </label>

    <button>Lookup</button>
    <br><br>

</form>