<div id='home_text'>
    WELCOME!
    <br><br><br>
    This archive contains some of the most questionable films in existence - and some that are 'o.k.'
    <br><br>
    To begin your search, <a id='form_link' href="/movie_search">Click Here</a>
    <br><br>
</div>