
<h2><span class="home">Home</span> <span class="to">to</span> <span class="the"> the</span> <span class="worlds"> World's</span> <span class="most"> Most</span> <span class="exotic"> Exotic</span> <span class="animals"> Animals</span></h2>

<img src="https://parade.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_620/MTkwNTgxNDg2NTc2MTUwMzk2/hummingbird-hawk-moth-butterfly-sphinx-insect-flying-on-red-valerian-pink-flowers-in-summer.webp" alt="hummingbird">