<h3> Guess the number correctly </h3>
Guess a number between 1 - 10

<form action="/secret/guess">

<label>
    Your Guess:
    <input type="text" name="number_guess">
    </label>

<button>Submit Guess </button>

</form>