
<div class="gamebox">

    <h2>See if you can guess the secret number...</h2>
    <form action="/secret/check">
    <% 10.times do |num|  %>
        <label for="">
            <%= num + 1 %>
        <input type="radio" name="number" value="<%= num +1 %>">
        </label>
    <% end  %>
        <button>Guess!</button>
    </form>
</div>