
<h3>Select your number</h3>

<form action="/secret_number/secret_results">
<label>
    Your choice:

    <select name="choice_number">
        <% @dropdown_number.each do |num| %>

            <option>
            <%= num %>
            </option>

        <% end %>
    
    </select>

</label>

<button>Click me to submit</button>

</form>
