
<h2>> Add New Zoo <</h2>

<%= render partial: 'form' %>

<img src="https://i.gocollette.com/tour-media-manager/tours/africa/tanzania/670/packages/master-package/search-result-image/africasafarikenyatanzania_search.jpg" alt="elephants" class="elephants">
<br>
