<h3> Rock Paper Scissors</h3>
Pick between Rock Paper and Scissors

<form action="/rock_paper_scissors/check">

<label>
    Your Guess:
    <input type="text" name="move">
    </label>

<button>Submit Guess </button>

</form>