<h3> Add a New Buyer! </h3>

<form action="/buyers" method="post">

<label>
Name:
<input type="text" name="name">
</label>

<br>

<label>
Email:
<input type="text" name="email">
</label>

<br>
<button>Hit the button</button>

</form>
