<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pippa & Plants</title>
</head>
<body>

    <nav> 
        <h1>Pippa & Plants World</h1>
            <a href="/">Home</a>
            |
            <a href="/plants">All Plants</a>
            |
            <a href="/plants/new"> Add a Plant 🌱</a>
            |
            <a href="/buyers">Buyers</a>
            |
            <a href="/buyers/new"> Add a Buyer 😎 </a>

        <hr>
    </nav>



    <section>
    <%= yield %> 
    </section>
    <%# this is where :home erb will be placed %>

    <footer>
    <hr>&copy; Pippa and Plants Studio 2022
    </footer>



</body>
</html>