<div class="container" id='home'>

    <h1>twinstabook: </h1>
    <h2>we're watching you</h2>

    <%= image_tag 'https://images.theconversation.com/files/200232/original/file-20171220-4957-hspudb.jpg', alt: 'A smiling face', id: 'main_image'%>
</div>