
<div class="container">
    <h2>Choose your account</h2>
    <ul>
    <% @users.each do |user| %>
        <li>
        <%= link_to user.last_name, user_path(user.id) %>
        </li>
    <% end  %>
    </ul>
</div>