<h3>
Add New Post
</h3>

<form action="/plants" method="post">

<label>
Name: 
<input type="text" name="name">
</label>
<br>

<label>
Native Area:  
<input type="text" name="native_area">
</label>
<br>

<label>
Perennial (1 for yes, 0 for no):
<input type="text" name="perennial">
</label>
<br>


<label>
Sun Exposure:
<input type="text" name="sun_exposure">
</label>
<br>

<label>
Mature Size (in cm)
<input type="text" name="mature_size">
</label>
<br>

<label>
Toxicity
<input type="text" name="toxicity">
</label>
<br>


<label>
Image URL:
<input type="text" name="image_url">
</label>
<br>

<button>Plant It!</button>

</form>
