

<h1> Welcome to the Games of Rail</h1>

<h3> Prepare to meet your fate!</h3>

<h4> Select your games: </h4>


<a href="/magic"> Ask the Magic 8 ball </a>
<br>
<a href="/secret_number"> Guess secret number </a>
<br>
<a href="/rps">Rock, Paper, Scissors</a>