<h2>Welcome to eight ball game!</h2>

<form action="/eight/respond">
<h3>Ask anything you really want to know here!</h3>
<p>Tho only ask questions with yes/no answer</p>

<input type="text" name="query">

<button>Submit your question</button>

</form>