<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Clip Ranker</title>
</head>

<body>
    
    <div id='full-page'>
        <nav id='nav_bar'>
        <h1>CLIP RANKER
        </h1>
        <%# <img id='nav_image' src="https://place-puppy.com/75x75" alt="smol dog"> %>
        
        <a class='nav_link' href="/">Home</a>
        |
        <a class='nav_link' href="/about">About</a>
        |
        <a class='nav_link' href="/clip_list">Clip List</a>
        </nav>
        <hr>

        <section>
            <%= yield %>
        </section>

        <footer id='footer'>
            <hr>
            &copy; Clip_Ranker. 2022
        </footer>
    </div>
</body>

</html>


<%# wat ever major loser %>
<%#     'https://clips.twitch.tv/FrailPleasantAlmondThisIsSparta',
        <iframe src="https://clips.twitch.tv/embed?clip=FrailPleasantAlmondThisIsSparta&parent=www.example.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe> %>

<%# progress mo shot  %>
        <%# <iframe src="https://clips.twitch.tv/embed?clip=TsundereAdorablePineappleSoonerLater&parent=www.example.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe> %>

<%# baldursGate3 %>
        <%# <iframe src="https://clips.twitch.tv/embed?clip=BoldSavoryScallionThunBeast&parent=www.example.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe> %>

<%# flex on mikell %>
        <%# <iframe src="https://clips.twitch.tv/embed?clip=BlueExcitedNikudonHoneyBadger-CkvnCd_VJaxNqemW&parent=www.example.com" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe> %>