<h3>Add a Top Spot</h3>

<form action="/travel" method="post">
    <div class="form">
        <label>
            Location:
            <input type="text" name="location">
        </label>
        <br>

        <label>
            Country:
            <input type="text" name="country">
        </label>
        <br>

        <label>
            Description:
            <input type="text" name="description">
        </label>
        <br>

        <label>
            Rating out of 10:
            <input type="text" name="rating">
        </label>
        <br>

        <label>
            Visited: (1 for yes, 0 for no):
            <input type="text" name="visited">
        </label>
        <br>

        <label>
            Image URL:
            <input type="text" name="image_url">
        </label>
        <br>
    
        <button class="new">Add Destination</button>
    <br>
    </div>
    <div class="beach">
        <img class="paradise" src="https://static.vecteezy.com/system/resources/thumbnails/004/881/622/small_2x/beautiful-tropical-beach-banner-white-sand-and-coco-palms-travel-tourism-wide-panorama-background-concept-amazing-beach-landscape-boost-up-color-process-luxury-island-resort-vacation-or-holiday-photo.jpg" alt="">
    </div>
</form>