body{
    background-color:rgb(154, 209, 231);
}
img {
    position: absolute;
    bottom: 0px;
}

#luke {
    height:200px;
    bottom:270px;
    left: 50px;
    z-index: -10;
}

#sunmoon {
    width: 100%;
    z-index: -20;
    bottom: 150px;
}

#stars{
    width: 100%;
    top: 0px;
    z-index: -30;
}

nav {
    background-color: hsl(38, 68%, 81%);
    position:absolute;
    z-index: 1;
    padding: 1rem;
    border-radius: 20px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}