body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 221, 221);
}

img {
    width: 200px;
}

label {
    display: block;
    margin: 10px;
}

#yes, #no {
    display: block;
}

#checkbox {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}