<h3>Create New Department</h3>

<form id="new_employee_form" action="/department_list" method="post">

    <label>
        Name: 
        <input type="text" name="name">
    </label>

    <label>
        Employee Count: 
        <input type="text" name="employee_count">
    </label>

    <label>
        Budget:
        <input type="text" name="budget">
    </label>

    <label>
        Profit:
        <input type="text" name="income">
    </label>

    <label>
        Productivity:
        <input type="text" name="productivity">
    </label>


    <button>Found Department</button>

</form>