<h3>Register New Employee</h3>

<form id="new_employee_form" action="/employee_list" method="post">

    <label>
        Name: 
        <input type="text" name="name">
    </label>

    <label>
        Image URL: 
        <input type="text" name="image_url">
    </label>

    <label for="dob_selector">D.O.B:
        <input type="date" id="dob_selector" name="dob" value="21-08-2022"
        min="01-01-1991" max="21-08-2022">
    </label>

    <label>
        Home Address:
        <input type="text" name="home_address">
    </label>

    <label>
        Gender (m/f): 
        <input type="text" name="gender">
    </label>

    <label for="commencement_date">Employee Start Date:
        <input type="date" id="commencement_date" name="start_date" value="21-08-2022"
        min="01-01-1991" max="21-08-2022">
    </label>

    <label>
        On Contract (0 = No / 1 = Yes): 
        <input id="contract_boolean" type="text" name="on_contract">
    </label>

    <label>
        Contract Length (months): 
        <input type="text" name="contract_length">
    </label>

    <label>
        Full Time (0 = No / 1 = Yes): 
        <input type="text" name="full_time">
    </label>

    <label>
        Casual (0 = No / 1 = Yes): 
        <input type="text" name="casual">
    </label>

    <label>
        Months Employed:
        <input type="text" name="months_employed">
    </label>

    <label>
        Accrued Sick Leave (days):
        <input type="text" name="sick_days_accrued">
    </label>

    <label>
        Taken Sick Leave (days):
        <input type="text" name="sick_days_taken">
    </label>

    <label>
        Accrued Leave (hours): 
        <input type="text" name="contract_length">
    </label>

    <label>
        Taken Leave (hours):
        <input type="text" name="contract_length">
    </label>

    <label for="end_employment_date">Employememt Cease Date:
        <input type="date" id="end_employment_date" name="end_date" value="21-08-2022"
        min="01-01-1991" max="21-08-2022">
    </label>

    <button>Register Employee</button>

</form>