<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Employees and Departments</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav id='nav_bar'>
    <h1>Company Employees
    </h1>
    <%# <img id='nav_image' src="https://place-puppy.com/75x75" alt="smol dog"> %>
    </nav>
    <a href="/">Home</a>
    |
    <a href="/employee_list">Current Employees</a>
    |
    <a href="/department_list">Departments</a>

    <hr>

    <section>
        <%= yield %>
    </section>

    <footer>
        <hr>
        &copy; The Company .2022 
    </footer>

</body>
</html>