

<div class="gamebox">

    <form action="/rock_paper_scissors/throw">
        <h2>Make your choice:</h2>
        <label for="">
            Rock:
            <input type="radio" name="throw" value ="rock">
        </label>
        <label for="">
            Paper:
            <input type="radio" name="throw" value ="paper">
        </label>
        <label for="">
            Scissors:
            <input type="radio" name="throw" value ="scissors">
        </label>
    
        <button>Throw!</button>
    
    
    </form>


</div>