
<h3>Rock Paper Scissors</h3>

<form action="/rock-paper-scissors/show">

Please select: <br><br>

<select name="throw">
    <option value="0" selected disabled>Please select:</option>
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>

</select>

<br><br>
<button>Submit</button>

</form>