
<h3>Magic 8 Ball</h3>

<p>How to use:</p>

<p>Enter your question at the URL bar then the magic 8 ball will answer you</p>

<p>i.e. <code><a href="http://localhost:3000/magic-8-ball/Why do I have to be harassed into submitting homework?">http://localhost:3000/magic-8-ball/Why do I have to be harassed into submitting homework?</a></code></p>

