<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonkflix</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <img src="https://tongal.s3.amazonaws.com/custom-files/2019/08/07/Oh-hi-mark_blogbanner.png" alt="Tommy Wiseau">
        <h1>Menu</h1>
        <a href="/">Home</a>
        <a href="/search">Search</a>
    </nav>
    <hr>

    <section>
        <%= yield %>
    </section>
    <hr>
    <footer>
    &copy; Stonkflix Entertainment
    </footer>
</body>
</html>