
body {
    text-align: center;
    max-width: 100vw;
    background-color: black;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

#results {
    display: inline-block;
}

button {
    padding: 7px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
}

input {
    padding: 7px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    font-size: 15px;

}

img {
    border-radius: 10px;
}

img:hover {
    transform: scale(1.1);
}
