<h3>
Add Your Support Team
</h3>

<form action="/teams" method="post">

<label>
Team:
<input type="text" name="team">
</label>
<br>

<label>
Region:
<input type="text" name="region">
</label>
<br>

<label>
Group:
<input type="text" name="group_in">
</label>

<br>

<label>
Appearance in Worldcup:
<input type="text" name="time_in">
</label>
<br>
</label>


<label>
Host Country: (1 for yes, 0 for no)
<input type="text" name="host">
</label>
<br>


<label>
Image URL:
<input type="text" name="image_url">
</label>
<br>

<button>Add Your Team</button>


</form>