@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, nav {
    font-family: 'Playfair Display', serif;
}

a {
    color: black;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin: 0px;
}

#home_img {
    width: 70vw;
    margin-top: 30px;
}

.index_img {
    width: 90%;
}

#res_box {
    width: 30%;
}

#index {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80vw;
}

#show_img {
    width: 20vw;
}

#show_nav a {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 40px;
}

.form {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.form p {
    margin: 0px;
}