<h3> Add New Armor</h3>

<form action="/armors" method="post">

<label>
   Name:
   <input type="text" name="name">
</label>
<br>

<label>
   Users:
   <input type="text" name="users">
</label>
<br>

<label>
   Appearances:
   <input type="text" name="appearances">
</label>
<br>


<label>
   Weapons:
   <input type="text" name="weapons">
</label>
<br>



<label>
   Special_features:
   <input type="text" name="special_features">
</label>
<br>




<label>
   Image URL:
   <input type="text" name="image_url">
</label>
<br>


<button>Create Armor</button>

</form>