@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #58bffd;
    color: rgb(29, 28, 28);
    font-family: 'Poppins', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: black;
}

svg {
    color: #fff;
    height: 50px;
    margin-bottom: 50px
}

img {
    height: 200px
}

li{
    list-style: none; 

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline-flex;
    padding: 10px;

}

h1{
    font-size: 4rem;
}

.sidebar{
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container{
     margin-left: 20vw;
} 

.sign_button{
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 25px;
}


footer {
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 0.5rem;
}

footer ul{
    display: inline-flex;
    
}

footer li{
    padding: 10px; 
}


/*home*/
#main_image{
    min-height: 50vh;
}

#home{
    text-align: center;
}

/*new and edit*/
.form{

    border: 2px solid #89c7ee;
    padding: 10px;
    width: 50vw;
    border-radius: 20px;
    text-align: center;
}

.show{
    border: 2px solid #89c7ee;
    padding: 10px;
    width: 50vw;
    border-radius: 20px;
}

.profile{
    margin: 0 auto;
    text-align: center;

}