<h3>
    Please enter a number from 1 to 10
</h3>

<form action="/secretnumber/play">
    <label>
    Your Number:
    <input type="number" name="user_number">
    </label>

    <button> Check if you got it right! </button>
</form>